body {
    background-color: transparent;
    color: black;
}


@media screen and (max-width: 992px) {
    /* body {
        background-color: tr;
        color: white;
    } */

    .navbar .navbar-expand .navbar-nav {

        flex-direction: column;
    }

    .navbar-nav {
        padding-left: 0;
        display: flex;
    }
    .navbar.scroll {
        background: blueviolet;
    }
}


@media screen and (max-width: 600px) {
    body {
        /* background-color: wheat;
        color: white; */
    }

    .navbar .navbar-expand .navbar-nav {

        flex-direction: column;
    }

    .navbar-nav {
        padding-left: 0;
        display: flex;
    }
    .navbar.scroll {
        background: red;
    }
}