body {
    background-color: transparent;
    color: black;
}


@media screen and (max-width: 992px) {
    /* body {
        background-color: tr;
        color: white;
    } */

    .navbar .navbar-expand .navbar-nav {

        flex-direction: column;
    }

    .navbar-nav {
        padding-left: 0;
        display: flex;
    }
    .navbar.scroll {
        background: blueviolet;
    }
}


@media screen and (max-width: 600px) {
    body {
        /* background-color: wheat;
        color: white; */
    }

    .navbar .navbar-expand .navbar-nav {

        flex-direction: column;
    }

    .navbar-nav {
        padding-left: 0;
        display: flex;
    }
    .navbar.scroll {
        background: red;
    }

.nav-item {
    font-weight: bold;
    font-style: italic;
    text-align: center;
    color: #fff !important;
    margin-left: 3vw;
    transition: 0.5s;
    /* border-radius: 50px; */
    text-transform: capitalize;
    cursor: pointer;
    font-size: 5px;
    
}
.navbar-brand {
    position: relative;
    font-family: Impact;
    letter-spacing: 2px;
    background: linear-gradient(100deg, pink, #ff0000, #fff, green, red);
    background-repeat: repeat;
    background-color: #fff;
    background-size: 80%;
    animation: animate 25s infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
    font-weight: bold;
    font-style: italic;
    padding-left: 0;
    padding-right: 200px;
    font-size: 10px;
    text-transform: uppercase;
}
}