.navbar{
    padding: 30px;
}


.navbar-brand{
    font-weight: bold;
    font-style: italic;
    padding-left: 150px;
    font-size: 50px;
    text-transform: capitalize;

}
.navbar-nav{
    padding-left: 300px;
}

.nav-item {
    font-weight: bold;
    font-style: italic;

    color: #fff !important;
    margin-left: 50px ;
    transition: 0.5s;
    border-radius: 50px;
    text-transform: capitalize;
}
.nav-item:hover{
    transform: translate(-15px );
background: #dc3445;
}